{% extends 'base.html' %}
{% load static %}

{% block title %} Sistemas de notas fiscais{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mt-5 mb-5">

    <form method="POST" action="{% url 'notas:cadastrar' %}" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
          <label for="nome_razao_social" class="form-label">Nome/Razão Social</label>
          {{ form.cliente }}
        </div>

        <div class="col-md-6">
          <label for="endereco" class="form-label">Endereço</label>
          {{ form.endereco }}
        </div>

        <div class="col-6">
          <label for="bairro" class="form-label">Bairro</label>
          {{ form.bairro }}
        </div>

        <div class="col-6">
          <label for="municipio" class="form-label">Município</label>
          {{ form.municipio }}
        </div>

        <div class="col-md-6">
          <label for="cep" class="form-label">CEP</label>
          {{ form.cep }}
        </div>

        <div class="col-md-6">
          <label for="estado" class="form-label">UF</label>
          {{ form.uf }}
        </div>

        <div class="col-md-6">
          <label for="cnpj_cpf" class="form-label">CNPJ/CPF</label>
          {{ form.cpf_cnpj }}
        </div>

        <div class="col-md-6">
            <label for="inscricao_estadual" class="form-label">Inscrição estadual</label>
            {{ form.inscricao_estadual }}
        </div>

        <h6 class="my-3">Descrição das mercadorias/serviço prestado</h6>
        <hr/>

        <div class="col-md-3">
            <label for="desc_produto" class="form-label">Descrição do produto/serviço</label>
            {{ form.descricao }}
        </div>

        <div class="col-md-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            {{ form.quantidade }}
        </div>

        <div class="col-md-3">
            <label for="valor_unitario" class="form-label">Valor unitário</label>
            {{ form.valor_unitario }}
        </div>

        <div class="col-md-3">
            <label for="valor_total" class="form-label">Valor total</label>
            {{ form.valor_total }}
        </div>

        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-dark">Emitir Nota</button>
        </div>
    </form>
</div>
{% endblock %}
