<footer class="container-fluid bg-dark py-5 text-white">
    <div class="container d-flex">
        <div class="row">
            <div class="col">
                <h3>Desenvolvido por <span>Matheus Pinheiro</span></h3>
                <span class="fs-2">👽</span>
            </div>
            <div class="col">
                <ul>
                    <li>
                        <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/matheus-pinheiro0597/">Linkedin</a>
                    </li>
                    <li>
                        <a target="_blank" class="nav-link" href="https://github.com/MatheeusPinheiro?tab=repositories">GitHub</a>
                    </li>
                    <li>
                        <a class="nav-link" href="">Instagram</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>